

/*--------------my header-------------*/

/* ------------------myCarousel----------------------------- */
.myCarousel {
  background-image: url(../img/banner4.jpg);
  margin: 40px auto;
  height: 240px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 55px;
}

.myCarousel::before {
  content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #0c0c0c;
    opacity: .6;
}

.myCarousel .myCarousel_content {
  text-align: center;
  padding-top: 70px;
  z-index: 6;
  position: relative;
}

.myCarousel .myCarousel_content h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.myCarousel .myCarousel_content ul {
  padding: 0;
}

.myCarousel .myCarousel_content li {
  display: inline-block;
}

.myCarousel .myCarousel_content a {
  color: #189a46;
  text-decoration: none;
  font-size: 19px;
}

.myCarousel .myCarousel_content i {
  font-size: 14px;
  margin: 0 10px;
}

.myCarousel .myCarousel_content span {
  color: #fff;
  font-size: 19px;
}

/* --------------About Us--------------------------------------- */
.about {
  /* margin-bottom: 100px; */
}
.about .about-child{
  padding: 48px 0;
}
.about .container{
  width: 100%;
  max-width: 1200px;
  padding: 48px 25px;
}

.about .content .row {
  align-items: center;
}
.about .content .row .content-left {
  padding: 0 15px 0 24px;
}
.about .content .row .content-left {
  text-align: left;
}
.about .content .row .content-left h6{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  color: #f53626;
}
.about .content .row .content-left h3{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.about .content .row .content-left h4{
  font-size: 22px;
    line-height: 32px;
    opacity: 0.9;
  font-weight: 600;
}
.about .content .row .content-right{
  padding: 0 15px 0 48px;
}
.about .content .row .content-right p {
  color: #696969;
  font-size: 19.2px;
  text-align: left;
  line-height: 32px;
  /* padding-left: 40px; */
}

.about .content .row .content-right a {
  text-align: left;
  display: table-caption;
  width: 90px;
  color: #000c04;
  margin-top: 20px;
  font-size: 17px;
  text-decoration: none;
  border-bottom: 2px solid #189a46;
  font-weight: 600;
  transition: all 0.4s;
}

.about .content .row .content-right a:hover {
  color: #189a46;
}

/* ----------------Our History---------------------------------- */
.history {
  background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center center;
    height: 562px;
    height: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    position: relative;
    /* margin-top: 50px; */
    /* min-height: 10%; */
}

.history::before {
  content: "";
  background-color: rgba(0, 4, 8, 0.69);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.history .history-child{
  padding: 48px 0;
}
.history .history-child .container{
  padding: 48px 25px;
  /* position: relative; */
  z-index: 10;
}
.history .history-child .container .row .col-right{
  text-align: left;
  padding: 16px 0;
}
.history .history-child .container .row .col-right h4{
  font-size: 18px;
  color: #f53665;
}
.history .history-child .container .row .col-right h3{
  font-size: 40px;
  color: #ffffff;
}
.history .history-child .container .row .col-right p{
  font-size: 19.2px;
  color: #C3BDBD;
}

/* .history .content .row .col-right .history-grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 40px;
} */
.history .content .row .col-right .history-grids{
  margin-top: 40px;
}

.history .content .row .col-right .history-grids .history-info h5{
  color: #fff;
  font-size: 20px;
}

.history .content .row .col-right .history-grids .history-info p{
  font-size: 19.2px;
  color: #C3BDBD;
}

/* --------------Why Choose Us------------------------- */
.choose{
}
.choose .weare{
  padding: 48px 0;
}
.choose .container{
  padding-top: 50px;
}

.choose .container .row {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

/* ------col-left---------- */
.choose .row .col{
  padding: 0 24px 0 15px;
  margin: 0;
}
.choose .row .col .col-left{
  text-align: right;
}

.choose .row .col .col-left h6{
  color: #f53665;
  font-size: 18px;
  font-weight: 400;
}

.choose .row .col .col-left h3{
  font-size: 40px;
  color: #000c04;
  font-weight: 600;
}

.choose .row .col .col-left p{
  margin-top: 16px;
  margin-bottom: 0;
  color: #696969;
  font-size: 19.2px;
}

.choose .row .col-left img{
  width: 100%;
  /* height: 295px; */
  border-radius: 10px;
}

/* ----------col-right------*/
/* .choose .row .col-right{
  text-align: left;
  padding: 0 15px 0 24px;
} */
.choose .row .col-diff{
  padding: 0 0px 0 24px;
}
.choose .row .col-diff .row .content-icon {
  padding: 0 15px;
}
.choose .row .col-diff .row .content-icon .icon{
  color: #189a46;
    font-size: 44px;
    text-align: center;
}

.choose .row .col-diff .row .content-text {
  padding-left: 0;
  text-align: left;
  padding-right: 0;
}
.choose .row .col-diff .row .content-text h6{
  margin-bottom: 6px;
}
.choose .row .col-diff .row .content-text h6 a{
  text-decoration: none;
  color: #000c04;
  font-size: 24px;
  font-weight: 600;
}
.choose .row .col-diff .row .content-text h6 a:hover{
  color: #189a46;
}
.choose .row .col-diff .row .content-text p{
  font-size: 18px;
  color: #696969;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

/* --------------Our Team----------------------------- */
.ourteam {
  background-color: #f9f7fe;
}
.ourteam .team{
  padding: 48px 0;
}
.ourteam .team .container{
  padding: 24px 25px;
}
.ourteam .team .container .title{
  margin: 0 0px 48px 0;
  text-align: center;
}
.ourteam .team .container .title .sub-title{
  font-size: 18px;
  color: #f53626;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.ourteam .team .container .title .hny-title{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  margin: 0;
}
.ourteam .team .container .row .column{
  padding: 0 15px;
  margin-bottom: 48px;
}
.ourteam .team .container .row .column .card .hidden{
  overflow: hidden;
  border-radius: 0;
}
.ourteam .team .container .row .column .card{
  border: 1px solid #F3EFFD;
  position: relative;
}
.ourteam .team .container .row .column .card:hover img{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.ourteam .team .container .row .column .card .card-img{
  position: relative;
}
.ourteam .team .container .row .column .card:hover .card-title a{
  color: #189a46;
}
.ourteam .team .container .row .column .card .card-body {
  background-color: #F9F7FE;
}
.ourteam .team .container .row .column .card .card-body a{
  font-size: 22px;
  color: #000c04;
  text-decoration: none;
}
.ourteam .team .container .row .column .card .card-body p{
  line-height: 25px;
  color: #696969;
}
.ourteam .team .container .row .column .card .card-body .social-child a{
  margin-right: 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #F3EFFD;
  display: inline-block;
  color: #189a46;
}
.ourteam .team .container .row .column .card .card-body .social-child span{
  font-size: 12px;
  line-height: 30px;
  display: block;
}
.ourteam .team .container .row .column .card .card-body .social-child span:hover{
  background-color: #189a46;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
}

/* --------------------------------------- */

/* ---------theme-dark----------------- */
.theme-dark .about{
  background-color: #111111;
}
.theme-dark .about .content .row .content-left h4{
  color: #C9C9C9;
}
.theme-dark .about .content .row .content-right a{
  color: #fff;
}
.theme-dark .about .content .row .content-right a:hover{
  color: #189a46;
}
.theme-dark .choose{
  background-color: #111111;
}
.theme-dark .choose .row .col .col-left h3{
  color: #fff;
}
.theme-dark .choose .row .col-diff .row .content-text h6 a{
  color: #fff;
}
.theme-dark .choose .row .col-diff .row .content-text h6 a:hover{
  color: #189a46;
}
.theme-dark .ourteam{
  background-color: #222222;
}
.theme-dark .ourteam .team .container .row .column .card{
  border: none;
}
.theme-dark .ourteam .team .container .row .column .card .card-body{
  background-color: #222222;
}
.theme-dark .ourteam .team .container .row .column .card .card-body a{
  color: #fff;
}
.theme-dark .ourteam .team .container .row .column .card .card-body a:hover{
  color: #189a46;
}
.theme-dark .ourteam .team .container .row .column .card .card-body .social-child a{
  background-color: #222222;
}
.theme-dark .ourteam .team .container .row .column .card .card-body .social-child span{
  color: #189a46;
}
.theme-dark .ourteam .team .container .row .column .card .card-body .social-child span:hover{
  color: #fff;
}
.theme-dark .ourteam .team .container .row .column .card .card-body p{
  color: #afafaf;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .title-L {
    font-size: 35px;
    line-height: 40px;
  }
  .about .container{
    max-width: 960px;
    margin: 0 auto;
  }
  .about .content .row .content-left h3{
    font-size: 35px;
  }
  .about .content .row .content-right a{
    text-align: left;
    display: table-caption;
    width: 90px;
  }

  .choose .container{
    max-width: 960px;
    width: 100%;
  }
  .choose .row .col .col-left{
    text-align: right;
  }
  .choose .row .col-left img{
    margin-top: 15px;
  }
  .choose .row .col .col-left h3{
    font-size: 35px;
    line-height: 40px;
  }

  .ourteam .team .container{
    max-width: 960px;
    width: 100%;
  }
  .ourteam .team .container .title .hny-title{
    font-size: 35px;
    line-height: 40px;
  }
  
  }
  @media screen and (max-width: 992px) {
  

  .container {
    width: 100%;
  }
  .about .container{
    max-width: 720px;
  }
  .about .content .row .content-right{
    padding: 0 15px 0 24px;
  }

  .history .history-child .container{
    max-width: 720px;
    width: 100%;
  }

  .choose .container{
    max-width: 720px;
    width: 100%;
  }
  .choose .row .col .col-left{
    text-align: left;
  }
  .choose .row .col{
    padding: 0 15px 0 15px;
    max-width: 720px;
    width: 100%;
  }
  .choose .row .col .col-right{
    margin-top: 50px;
  }

  .ourteam .team .container{
    max-width: 720px;
    width: 100%;
  }
  .ourteam .team .container .row .column .card{
    border: 1px solid none;
  }
  }

  @media screen and (max-width: 768px) {
    .about .container{
      max-width: 540px;
      width: 100%;
      padding: 0 15px;
    }
    .about .content .row .content-left h3{
      line-height: 40px;
    }
    .about .content .row .content-left,
    .about .content .row .content-right{
      padding: 0;
    }

    .history .history-child .container{
      max-width: 540px;
      width: 100%;
      padding: 0 15px;
    }
    .history .content .row .col-right .history-grids .history-info p{
      line-height: 28px;
      font-size: 17px;
    }

    .choose .row .col{
      max-width: 540px;
      width: 100%;
      padding: 0 15px;
    }
    .choose .row .col-diff .row .content-text{
      text-align: center;
    }

    .ourteam .team .container{
      max-width: 540px;
      width: 100%;
      padding: 0 15px;
    }   
  }

  @media screen and (max-width: 576px) {
    .about .container{     
      width: 100%;
      padding: 0 15px 0 15px;
    }
    .about .content .row .content-left h3{
      font-size: 27px;
      line-height: 32px;
    }
    .about .content .row .content-left h4{
      font-size: 20px;
    }

    .history .history-child .container .row .col-right h4{
      font-size: 20px;
    }
    .history .history-child .container .row .col-right h3{
      font-size: 27px;
    }

    .choose .container{
      padding: 0;
    }
    .choose .row .col{
      padding: 0;
    }
    .choose .row .col .col-left h3{
      font-size: 27px;
      line-height: 32px;
    }
    

    .ourteam .team .container .title .hny-title{
      font-size: 27px;
      line-height: 32px;
    }
    .ourteam .team .container{
      padding: 0 10px 0 10px;
    }
    .theme-dark .ourteam .team .container .row .column .card{
      border: none;
    }
    .theme-dark .ourteam .team .container .row .column .card .card-body{
      /* background-color: #222222; */
      border: none;
    }
  }
  
















