.gallery .container {
  max-width: 80%;
}
.pageTitle {
    background-image: url(../img/banner4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    margin-top: 90px;
    padding: 72px 0;
  }
  .pageTitle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(12, 12, 12, 0.6);
    z-index: -1;
  }
  .pageTitle .container {
    z-index: 0;
  }
  .pageTitle .title-L {
    font-size: 50px;
    line-height: initial;
  }
  .pageTitle p {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
  }
  .pageTitle a {
    color: #189a46;
  }
  .pageTitle p i {
    margin: 0 8px;
    font-size: 0.8rem;
  }
  .item-btn {
    display: inline-block;
    font-size: 17px;
    border-bottom: 2px solid #189a46;
    color: #000c04;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 600;
    transition: 0.3s;
  }
  .item-btn:hover {
    color: #189a46;
  }
  /* Gallery item */
.gallery__main a img {
    border-radius: 10px;
}
.gallery .container {
  padding: 24px 0;
  margin: 48px auto;
}
.theme-dark {
  background-color: #151515;
}
/* hover effect */
.gallery__main .row a{
  display: block;
  position: relative;
  overflow: hidden;
}
.gallery__main .row a::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to right, #ffffff00 0%, #ffffff4d 100%);
  transform: skewX(-22deg) translateX(-150%);
}
.gallery__main .row a:hover::before {
  transform: skewX(-22deg) translateX(250%);
  transition-duration: 1s;
}
/* Light box CSS */
.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.603);
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}