.header {
    /* position: fixed; */
    /* top: 40px; */
    /* z-index: 10; */
    /* width: 100%; */
}
/* Carousel */
.carousel-indicators {
    z-index: 4;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 0px;
    margin: 0 8px;
}
.carousel-indicators button:hover {
    width: 30px;
    height: 10px;
    border-radius: 10px;
    background-color: #189A46;
    opacity: 1;
}
.carousel-indicators .active {
    width: 30px;
    height: 10px;
    border-radius: 10px;
    background-color: #189A46;
}
.myCarousel {
    min-height: calc(100vh - 40px);
}
.myCarousel .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.myCarousel .carousel {
    height: calc(100vh - 40px);
}
.carousel-inner {
    height: inherit;
}
.carousel-inner .carousel-item {
    height: 100%;
}
.carousel-inner .carousel-item::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0c0c0c;
    opacity: 0.6;
    z-index: 2;
}
.carousel-inner .carousel-item img {
    height: 100%;
    object-fit: cover;
}
.carousel-caption h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0;
}
.carousel-caption p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}
.myCarousel .carousel-caption .caption-info {
    max-width: 700px;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.myCarousel .carousel-caption .caption-info.caption-info--right {
    margin-left: auto;
}
.carousel-indicators {
    margin-bottom: 2.5rem;
}
.btn-white {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    border-color: #fff;
    color: #189A46;
    background-color: #fff;
    margin-right: 0.5rem;
}
.btn-white:hover {
    background-color: #189A46;
    color: #fff;
    border-color: #189A46;
}
.btn-trans {
    padding: 10px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}
.btn-trans:hover {
    background-color: #fff;
    color: #189A46;
}