/* Team */
.team {
  background-color: #f9f7fe;
  padding: 3rem 0;
}
.team .team__header {
  margin-bottom: 3rem;
  padding-top: 25px;
}
.team .main__member {
  margin-bottom: 44px;
  padding-bottom: 25px;
}
.team .main__member figure {
  overflow: hidden;
}
.team .main__member img {
  transition: 0.5s ease-in-out;
}
.team .main__member:hover img {
  border-radius: 0 !important;
  transform: scale(115%);
}
.team .main__member h4 {
  transition: 0.3s;
}
.team .main__member:hover h4 {
  color: #189a46;
}
.team figcaption {
  margin-top: 16px;
}
.team h4, .team p {
  margin: 0;
}
.team h4 {
  font-size: 22px;
  line-height: 26px;
  color: #000c04;
  font-weight: 600;
}
.team figcaption a {
  display: inline-block;
  margin-top: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #f4effe;
  color: #189a46;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  font-size: 12px;
  transition-duration: 0.5s;
}
.team figcaption a:hover {
  background-color: #189a46;
  color: #fff;
}
.theme-dark .team {
  background-color: #222222;
}
.theme-dark .team h4,
.theme-dark .team p {
  color: #ddd;
}
.team p {
  opacity: 0.6;
}

/* Contact */
.contact {
  padding: 48px 0;
}
.contact__header {
  padding-top: 16px;
  margin-bottom: 3rem;
}
.contact__main {
  padding: 0 25px 24px;
  justify-content: space-around;
}
.contact__main textarea {
  resize: none;
  padding: 0 16px;
  background-color: #936be80d;
}
.contact .contact_input {
  display: block;
  outline: none;
  width: 100%;
  padding: 0 16px;
  background-color: #936be80d;
  line-height: 2;
  border: 1px solid #936be80d;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 55px;
  transition: 0.3s;
}
.contact .contact_input:focus {
  border: 1px solid #189a46;
}
.contact .text-area {
  height: initial;
}
.contact__main .btn--green {
  margin-left: auto;
  margin-top: 0;
  display: block;
}
.contact__main i {
  color: #189a46;
  font-size: 22px;
  text-align: center;
  display: block;
  /* margin-top: 5px; */
}
.contact__main h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 10px;
}
.contact__main .right-collum a,
.contact__main .right-collum p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  margin-top: 3px;
  text-decoration: none;
}
.contact__main .right-collum__item {
  margin-top: 2.5rem;
}
.theme-dark .contact {
  background-color: #151515;
}
.theme-dark .contact .contact_input {
  color: #fff;
  background-color: #222222;
}
.theme-dark .contact__main h3 {
  color: #fff;
}
.theme-dark .contact__main .right-collum a,
.theme-dark .contact__main .right-collum p {
color: #777;
}
/* HEADER NAVIGATION SECTION */
#section__about,
#section__services,
#section__plan,
#section__team,
#section__stats,
#section__video,
#section__testimoni,
#section__contact {
  position: relative;
  top: -10vh;
}
@media screen and (max-width:1200px) {
  
}
@media screen and (max-width:992px) {
  
}
@media screen and (max-width:768px) {
  .team .team__header {
    margin-bottom: 2rem;
  }
  .team .main__member {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width:576px) {
  .contact .container{
    padding: 0;
  }
  .contact__main.row {
    padding: 0;
    /* display: block; */
    margin: 0 auto;
  }
  .contact__main .left-collum{
    width: 100%;
  }
  .contact__main .right-collum {
    margin-top: 1rem;
  }
  .contact__main .right-collum p {
    margin-bottom: 0;
  }
  .contact__main .right-collum__item {
    margin-top: 1.5rem;
  }
}